.App {
  text-align: center;
  box-sizing: border-box;

}

a {
  text-decoration: none;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 60px;
  background-color: #EC8800;
  color: #fff;
}

.home {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.private {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
}

li {
  list-style-type: none;
}

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.buttons {
  height: calc(100vh - 60px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  border: 1px solid #4a4342;
  border-radius: 20px;
  ;
  padding: 60px;
  color: #fff;
  font-weight: bold;
  font-family: sans-serif;
  font-size: 20px;
  display: inline-block;
  margin: 0 20px;
}

.confirm {
  background: #0ecf42;
}

.refuse {
  background: #f2310f;

}

 @media(max-width:500px) {
   .buttons{
     display:flex;
     flex-direction: column;
     align-items: center;
   }
   .confirm{
     margin-bottom: 20px;
   }
}